/SyncToy_3f894b4a-cf09-47ad-a7c6-0c9d16ac6621.dat
*.sqlite
*.rar
bin
/*.dat
/CoMaNdO.Example/bin
/CoMaNdO.Example/obj
/CoMaNdO.Uptime/bin
/CoMaNdO.Uptime/obj
/CoMaNdO.Polls/bin
/CoMaNdO.Polls/obj
/CoMaNdO.Gambling/bin
/CoMaNdO.Gambling/obj
/CoMaNdO.Greetings/bin
/CoMaNdO.Greetings/obj
/CoMaNdO.MultipleOutputs/bin
/CoMaNdO.MultipleOutputs/obj
/CoMaNdO.UserRanks/bin
/CoMaNdO.UserRanks/obj
/CoMaNdO.Auctions/bin
/CoMaNdO.Auctions/obj
/CoMaNdO.Giveaways/bin
/CoMaNdO.Giveaways/obj
/CoMaNdO.SongRequests/bin
/CoMaNdO.SongRequests/obj
