<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModBot.Properties.Settings>
            <setting name="name" serializeAs="String">
                <value>ModBot</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="channel" serializeAs="String">
                <value>ModChannel</value>
            </setting>
            <setting name="currency" serializeAs="String">
                <value>ModCoins</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="payout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="greeting" serializeAs="String">
                <value />
            </setting>
            <setting name="subUrl" serializeAs="String">
                <value />
            </setting>
        </ModBot.Properties.Settings>
    </userSettings>
</configuration>